
.data-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 550px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .data-box h2 {
      margin: 20px 0 20px;
      padding: 0;
      color: #03e9f4;
      text-align: center;
      font-size: 20px;
  }
  
  .data-box p {
      color: white;
      word-wrap: break-word;
      width: 400px;
      max-height: max-content;
      text-align: center;
      font-size: 16px;
  }